.title{
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
    color:  #696969;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 1px,2px,4px black;
}
.button {
  margin-top:0em;
  background-color: #555555; 
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 8px;
  cursor: pointer;
}
.logo { 
  background:no-repeat; 
  width: 120px; 
  height: 100px; 
  display: block; 
  text-indent: -9999px;
  border: none;
}
.logo:hover{
  width: 140px; 
  height: 120px; 
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.input{
    margin-left: 1em;
}

.brand{
    color:  #696969;
}

.banner input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
    width: 30em;
  }
  
  .banner div h1 {
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 1px,2px,4px black;
    margin-top: 0em;
  }
  /* .banner div h3, .banner input{
    display: inline-block;
    margin-top: 20px;
  } */
  
  .banner .btn1, .banner .btn2{
    display: inline-block;
    margin-top: 10px;
  }
  
  .banner.homeContainer {
     position: relative; 
    margin-top:0em;
  }
  .homeContainer button{
    margin:20px;
  }

  footer{
    clear: left;
    margin-top: 4em;
    color: grey;
    position: absolute;
  }
  